@import '@/styles/reset.css';
@import '@/styles/variables.css';

/* Hoofdcontainer */
.app {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);
}

.main-content {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-in-out;
}

.main-content.shrink {
  margin-left: 250px;
}

.content {
  padding: var(--space-md);
  flex-grow: 1;
}
