.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-text);
}

.title {
  font-size: 8rem;
  font-weight: bold;
  color: var(--color-primary);
  margin: 0;
}

.subtitle {
  font-size: 2rem;
  margin: var(--space-md) 0;
}

.button {
  display: inline-block;
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-md);
  color: white;
  background: var(--color-primary);
  border-radius: var(--radius-md);
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: var(--color-secondary);
}
