:root {
  --hamburger-color: #495057;
  --hamburger-hover: rgb(59, 125, 221);
  --line-width: 24px;
  --line-height: 3px;
  --spacing: 7.5px;
}

.wrapper {
  cursor: pointer;
  display: flex;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;

  /* Padding inline verwijderen */
  padding-inline: 0;
  padding-block: 0;
  line-height: 1.6rem;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--hamburger-color);
  border-radius: 1px;
  content: '';
  display: block;
  height: var(--line-height);
  width: var(--line-width);
  position: relative;
}

.hamburger::before {
  position: absolute;
  top: calc(-1 * var(--spacing));
}

.hamburger::after {
  position: absolute;
  bottom: calc(-1 * var(--spacing));
}
.wrapper:hover .hamburger,
.wrapper:hover .hamburger::before,
.wrapper:hover .hamburger::after {
  background-color: var(--hamburger-hover);
}
