.navbar {
  height: $navbar-height;
  background: $primary;
  color: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include z-index("navbar");
}

.navbar button {
  background: darken($primary, 10%);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
