.navbar {
  background: white;
  padding: var(--space-md);
  display: flex;
  align-items: center; /* Zorgt dat de hamburger de hoogte bepaalt */
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-size: var(--font-lg);
  color: var(--color-text);
}
